*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  height: auto;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 740px;
  width: 100%;
  background: url('/public/hh.jpg');
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

  .frame {
    width:500px;
    padding: 20px;
    background: #E3FFFF;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;  
    opacity: 0.95; 
  }
  
  .welcome-back {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .login-message {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .input-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .input-field {
    flex: 1;
    font-size: 1rem;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 10px;
  }

  .forget-password-link {
    display: block;
    margin: 10px auto;
    font-size: 0.9rem;
    color: #003864;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #003864;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background: #00509e;
  }

  .signup-message {
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .signup-link {
    color: #003864;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  